<div id="player-modal" class="modal">
  <div class="modal-content">
    <div class="video-container">
      <!-- substitute code here w/ js value --> 
      <iframe src="https://embed.spotify.com/?uri=<%= album.uri %>" width="300" height="380" frameborder="0" allowtransparency="true" class="player"></iframe>
    </div>
  </div>
</div>