<div class="container-fluid">
  <% @albums.each do |album| %>
    <div class="album-container z-depth-3">
      <%= image_tag album.image %>
      <br>
      <button data-target="player-modal" class="spotify-link waves-effect waves-light btn modal-trigger" name="<%= album.uri %>"><%= album.title %></button>
      <!-- link_to album.title, "#{album.uri}", class: 'spotify-link waves-effect waves-light btn' -->
    <%= render :partial => 'modal', :locals => {:album => album} %>
    </div>
  <% end %>
</div>
