body {
  background-color: #EDEEE4;
}

.container-fluid {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.album-container {
  /*border: 1px solid black;*/
  text-align: center;
  width: 20%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

img {
  max-width: 200px;
}

header {
  text-align: center;
  background-color: #565843;
  color: white;
  height: 5%;
  margin-bottom: 3%
}

.header-text {
  margin-top: 0%;
  font-family: sans-serif;
  font-style: italic;
}

.subheader-text {
  font-style: condensed-light;
}

.spotify-link.waves-effect.waves-light.btn {
  background-color: #959780;
  height: auto;
}