body {
  width: 80%;
  margin: auto;
}

.album-container {
  border: 1px solid black;
  text-align: center;
  width: 20%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

img {
  max-width: 250px;
}
